apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: solar-system
  name: solar-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: solar-system
      sa: test
  strategy: {}
  template:
    metadata:
      labels:
        app: solar-system
        sa: test
    spec:
      containers:
      - image: sarthaksatish/solar-system:91-8c3cea6bef75d0874d21becbf98ade9e3402161e
        name: solar-system
        ports: 
        - containerPort: 80
